asgiref
Django==3.1.14
djangorestframework>=3.9
-e git+https://github.com/guldfisk/proxypdf.git#egg=proxypdf
-e git+https://github.com/guldfisk/evolution.git#egg=evolution
-e git+https://github.com/guldfisk/yeetlong.git#egg=yeetlong
-e git+https://github.com/guldfisk/ring.git#egg=ring
-e git+https://github.com/guldfisk/orp.git#egg=orp
-e git+https://github.com/guldfisk/mtgorp.git#egg=mtgorp
-e git+https://github.com/guldfisk/mtgimg.git#egg=mtgimg
-e git+https://github.com/guldfisk/magiccube.git#egg=magiccube
-e git+https://github.com/guldfisk/mocknames.git#egg=mocknames
-e git+https://github.com/guldfisk/secretresources.git#egg=secretresources
-e git+https://github.com/guldfisk/sheetclient.git#egg=sheetclient
-e git+https://github.com/guldfisk/django-typed-models.git#egg=django-typed-models
-e git+https://github.com/guldfisk/cubeclient.git#egg=cubeclient
-e git+https://github.com/guldfisk/mtgdraft.git#egg=mtgdraft
-e git+https://github.com/guldfisk/django-webpack-loader.git#egg=django-webpack-loader
-e git+https://github.com/guldfisk/elo.git#egg=elo
-e git+https://github.com/guldfisk/dmiclient.git#egg=dmiclient
lazy-property
appdirs
frozendict==1.2.0
requests
antlr4-python3-runtime==4.9
promise
pillow
sqlalchemy
numpy
httplib2
google-api-python-client
oauth2client
aggdraw
django-rest-knox
matplotlib
deap
gunicorn==20.0.4
channels==2.4.0
daphne==2.5.0
django-cors-headers
boto3
celery==5.0.1
redis==3.5.0
channels_redis==3.2.0
django-extensions
ipython
django-celery-beat==2.1.0
django-debug-toolbar==3.2.2
django-debug-panel
botocore
bidict
more_itertools
jedi==0.17.2
psycopg2
scipy
pyjwt
pandas
pytz
ebooklib==0.17.1
beautifulsoup4==4.10.0
