asgiref
Django
djangorestframework>=3.9
-e git+https://github.com/guldfisk/proxypdf.git#egg=proxypdf
-e git+https://github.com/guldfisk/evolution.git#egg=evolution
-e git+https://github.com/guldfisk/yeetlong.git#egg=yeetlong
-e git+https://github.com/guldfisk/ring.git#egg=ring
-e git+https://github.com/guldfisk/orp.git#egg=orp
-e git+https://github.com/guldfisk/mtgorp.git#egg=mtgorp
-e git+https://github.com/guldfisk/mtgimg.git#egg=mtgimg
-e git+https://github.com/guldfisk/magiccube.git#egg=magiccube
-e git+https://github.com/guldfisk/misccube.git#egg=misccube
-e git+https://github.com/guldfisk/mocknames.git#egg=mocknames
-e git+https://github.com/guldfisk/secretresources.git#egg=secretresources
-e git+https://github.com/guldfisk/sheetclient.git#egg=sheetclient
-e git+https://github.com/guldfisk/mkmcheck.git#egg=mkmcheck
-e git+https://github.com/guldfisk/django-typed-models.git#egg=django-typed-models
-e git+https://github.com/guldfisk/cubeclient.git#egg=cubeclient
-e git+https://github.com/guldfisk/mtgdraft.git#egg=mtgdraft
-e git+https://github.com/guldfisk/django-webpack-loader.git#egg=django-webpack-loader
-e git+https://github.com/guldfisk/elo.git#egg=elo
lazy-property
multiset
appdirs
frozendict
requests
antlr4-python3-runtime
promise
pillow
sqlalchemy
sqlalchemy
numpy
httplib2
google-api-python-client
oauth2client
aggdraw
mysqlclient>=1.3.12
django-mysql>=2.2.0
django-rest-knox
matplotlib
deap
gunicorn
channels
daphne
django-cors-headers
boto3
celery
redis
channels_rabbitmq
channels_redis
django-extensions
ipython
django-celery-beat
django-debug-toolbar
django-debug-panel
django-debug-toolbar-request-history
botocore
