Django>=2.0,<3.0
djangorestframework>=3.9
-e git+https://github.com/guldfisk/orp.git#egg=orp
-e git+https://github.com/guldfisk/mtgorp.git#egg=mtgorp
-e git+https://github.com/guldfisk/mtgimg.git#egg=mtgimg
-e git+https://github.com/guldfisk/magiccube.git#egg=magiccube
-e git+https://github.com/guldfisk/misccube.git#egg=misccube
-e git+https://github.com/guldfisk/mocknames.git#egg=mocknames
-e git+https://github.com/guldfisk/secretresources.git#egg=secretresources
-e git+https://github.com/guldfisk/sheetclient.git#egg=sheetclient
lazy-property
multiset
appdirs
frozendict
requests
antlr4-python3-runtime
promise
pillow
sqlalchemy
numpy
httplib2
google-api-python-client
oauth2client
aggdraw
mysqlclient>=1.3.12
django-mysql>=2.2.0