
.disabled-link {
    pointer-events: none;
}

.enabled-link {
}

.hide-header thead {
    visibility: collapse;
}

.show-header thead {
    visibility: visible;
}

.explain-label {
    display: inline-block;
    margin-right: 1em;
}

.tab-pane {
    margin-top: 2em;
}

.form-label {
    margin-right: 1em;
}